*{
    box-sizing: border-box;
    margin: 0;
}

body{
    position: relative;
}

h1{
    color: red;
    background-color: rgb(10, 88, 106);
    font-size: larger;
    position: absolute;
    top: 50vw;
    right: 50vh;
    transform: translate(-50%,-50%);
}